<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-9" id="blog-list">
            <div class="row">
                <div class="col-md-12 blog-detail-div">
                    <div class="thumbnail">
                        <img class="img-responsive" src= <%= blog.image %> >
                        <div class="caption">
                            <h4 class="blog-title"> <%= blog.title %></h4>
                        </div>
                        <div style="text-align: right">
    	                    <span><%= blog.created.toDateString() %></span>
	                    </div>
                        <p><%- blog.body %></p>
                        <a  class="btn btn-primary" href="/blogs/<%= blog._id %>/edit">Edit</a>
                        <form id="blog-delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="side-bar">
            <div class="thumbnail">
                <div>
                    <h4 class="blog-title">Popular Posts</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>